<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page | Ejs</title>
</head>
<body>
    <h1>
        this is the home page  
    </h1>
    <h3>  <%= 4 * 3 %>  </h3>
    <h3>  <%= ['hello','namste','javaScrupt'] %>  </h3>
    <h3>  <%= ['hello','namste','javaScrupt'][0] %>  </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus at odit, nobis quis dolores sint quam quisquam explicabo est animi tenetur iure voluptatem itaque facilis debitis alias. Aliquid, quisquam minus?</p>
    <button>click</button> 
   
 
</body>
</html>