<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jsonData</title>
    <style>
        img{
            height: 200px;
            width: 200px;
        }
        .postDiv{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .post{
            display: flex;
            flex-direction: column;
        margin: 20px;
        justify-content: center;
        align-items: center;
        }
    </style>
</head>